{% extends 'base.html' %}
{% block title %}
    About us
{% endblock title %}
{% block content %}
<div class="flex flex-col p-5 sm:flex-row mt-10">
    <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
      
      <div class="flex flex-col items-center text-center justify-center">
        <h2 class="font-medium title-font mt-4  text-lg">AMEX EVs</h2>
        <div class="w-12 h-1 bg-black rounded mt-2 mb-4"></div>
        <p class="text-base">AMEX EVs, Inc. is an American multinational automotive and clean energy company headquartered in Austin, Texas. AMEX EVs designs and manufactures electric vehicles and related products and services </p>
      </div>
    </div>
    <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l  border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
      <p class="leading-relaxed text-lg mb-4"><b class="underline">Our Journey</b><br>
    <p>2016 - Our Founder, Elon Saluja saw the dream of revolutionizing the electric vehicle industry.<br>
    2018 - The First Prototype of our first launched car, MODEL L was presented to the market<br>
    2020 - We launched our second car, MODEL M , which became a great success in a very short period of time     
    2021 - AMEX EVs launched it first SUV, MODEL O<br>
    2022 - AMEX EVs launched it second SUV, MODEL A
<br>
    </p></a>
    </div>
  </div>
</div>
</div>
</section><br><br>
<!---about---->

<!-- card -->
<h1 class="mb-4 mx-10 text-2xl font-extrabold tracking-tight leading-none text-black md:text-2xl lg:text-2xl ">OUR TOP PRODUCT THIS MONTH</h1>
<style>@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);</style>
<div class="w-full max-w-6xl rounded-[40px] bg-black shadow-xl p-20 mx-auto my-10 text-white relative md:text-left">
    <div class="md:flex items-center -mx-10">
        <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
            <div class="relative">
                <img src="../static/tesla_top.png" class="w-full relative z-10" alt="">
                <div class="border-4 border-white rounded absolute top-10 bottom-10 left-10 right-10 z-0"></div>
            </div>
        </div>
        <div class="w-full md:w-1/2 px-10">
            <div class="mb-10">
                <h1 class="font-bold uppercase text-2xl mb-5">MODEL M </h1>
                <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Eos, voluptatum dolorum! Laborum blanditiis consequatur, voluptates, sint enim fugiat saepe, dolor fugit, magnam explicabo eaque quas id quo porro dolorum facilis... <a href="#" class="opacity-50 text-gray-900 hover:opacity-100 inline-block text-xs leading-none border-b border-gray-900">MORE <i class="mdi mdi-arrow-right"></i></a></p>
            </div>
            <div>
                <div class="inline-block align-bottom mr-5">
                    <span class="text-2xl leading-none align-baseline">$</span>
                    <span class="font-bold text-5xl leading-none align-baseline">10996</span>
                    <span class="text-2xl leading-none align-baseline">.99</span>
                </div>
                <div class="inline-block align-bottom">
                    <button class="bg-white opacity-75 hover:opacity-100 text-black hover:text-gray-900 rounded-full px-10 py-2 font-semibold"><i class="mdi mdi-cart -ml-2 mr-2"></i> BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</div>

{% endblock content %}