<html>
    <head>
        <title>AMEX EVs</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Questrial&family=Rammetto+One&display=swap" rel="stylesheet">
    </head>
    <body class=" bg-[#f8f8f8]"style="font-family: 'Questrial', sans-serif;">
    <body class=" bg-[#f8f8f8] "style="font-family: 'Questrial', sans-serif;">
<!--NAVBAR STARTS-->

<header class="text-white body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 ">
      
        <span class="ml-3 text-xl text-white " id="hero"> 

        </span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-black justify-center">
        <a href="/" class="  mr-5   p-0.5 hover:bg-black hover:Text-white ">Home</a>
        <a href="/about" class="  mr-5   p-0.5 hover:bg-black hover:Text-white ">About</a>
        <a href="/explore" class=" mr-5  p-0.5 hover:bg-black hover:Text-white  ">Explore</a>
        <a href="/contact" class=" mr-5  p-0.5 hover:bg-black hover:Text-white  ">Contact</a>
          {% if current_user.is_authenticated %}
          <a href="/logout" class=" mr-5  p-0.5 hover:bg-black hover:Text-white  ">Logout</a>
          {% else %}
        <a href="/login" class=" mr-5  p-0.5 hover:bg-black hover:Text-white  ">Login</a>
        <a href="/reg" class=" mr-5  p-0.5 hover:bg-black hover:Text-white  ">Register</a>
          {% endif %}
      </nav>
      
    </div>
  </header>
</header>
</head>

{% block content %}

{% endblock %}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>
</html>
