{% extends 'base.html' %}
{% block title %}
  Page not found
{% endblock title %}
{% block content %}
<main class="h-screen w-full flex flex-col justify-center items-center">
  <h1 class="text-9xl font-mono text-black">404</h1>
  <p>Page not found.</p>
  <br>
  <a href="/">
  <button class="flex items-center justify-center hover:bg-gray-900 flex-none px-3 py-2 md:px-4 md:py-3 border-2 rounded-lg font-medium border-black bg-black text-white" type="submit">Return to homepage</button></a>
</main>
{% endblock content %}