{% extends 'base.html' %}  
{% block title %}
    Explore
{% endblock title %}
{% block content %}
<h1 class="mb-2 text-xl mx-5 font-extrabold text-black md:text-xl lg:text-xl">&nbsp;OUR RANGE OF ELECTRIC VEHICLES </h1>

<main class="grid grid-cols-2 grid-rows-2 px-1 gap-5  ">

<section class="flex flex-col mx-2.5 md:flex-row gap-11 py-5 px-2 rounded-md shadow-lg  md:max-w-2xl border-2 border-black">
  <div class="text-indigo-500 flex flex-col justify-between">
     
    </div>
  </div>
  <div class="text-black-500 p-5">
    <small class="uppercase">AMEX Inc.</small>
    <h3 class="uppercase text-black text-2xl font-medium">Model - O</h3>
    <h3 class="text-2xl font-semibold mb-7">$86,600</h3>
    <small class="text-black">The Model O is the best in class electric car having a 396 mi range. Reaching top speeds of 60 mph in 1.99s. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </small>
    <div class="flex gap-0.5 mt-4">
      <A href="/products/Model-O"> <button class="bg-black rounded-md w-full focus:outline-none transition text-white uppercase px-8 py-3">Explore </button></A>
        
      </button>
    </div>
  </div>
</section>

<section class="flex flex-col mx-2.5 md:flex-row gap-11 py-5 px-2 rounded-md shadow-lg  md:max-w-2xl border-2 border-black">
  <div class="text-indigo-500 flex flex-col justify-between">
     
    </div>
  </div>
  <div class="text-black-500 p-5">
    <small class="uppercase">AMEX Inc.</small>
    <h3 class="uppercase text-black text-2xl font-medium">Model - A</h3>
    <h3 class="text-2xl font-semibold mb-7">$106,660</h3>
    <small class="text-black">The Model A is the best in class electric car having a 396 mi range. Reaching top speeds of 60 mph in 1.99s. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </small>
    <div class="flex gap-0.5 mt-4">
      <A href="/products/Model-A"><button class="bg-black rounded-md w-full focus:outline-none transition text-white uppercase px-8 py-3">Explore </button></A>
        
      </button>
    </div>
  </div>
</section>

<section class="flex flex-col mx-2.5 md:flex-row gap-11 py-5 px-2 rounded-md shadow-lg  md:max-w-2xl border-2 border-black"  >
  <div class="text-indigo-500 flex flex-col justify-between">
     
    </div>
  </div>
  <div class="text-black-500 p-5">
    <small class="uppercase">AMEX Inc.</small>
    <h3 class="uppercase text-black text-2xl font-medium">Model - L</h3>
    <h3 class="text-2xl font-semibold mb-7">$96,600</h3>
    <small class="text-black">The Model L is the best in class electric car having a 396 mi range. Reaching top speeds of 60 mph in 1.99s. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </small>
    <div class="flex gap-0.5 mt-4">
      <A href="/products/Model-L"> <button class="bg-black rounded-md w-full focus:outline-none transition text-white uppercase px-8 py-3">Explore </button></A>
        
      </button>
    </div>
  </div>
</section>
<section class="flex flex-col mx-2.5 md:flex-row gap-11 py-5 px-2 rounded-md shadow-lg  md:max-w-2xl border-2 border-black">
  <div class="text-indigo-500 flex flex-col justify-between">
     
    </div>
  </div>
  <div class="text-black-500 p-5">
    <small class="uppercase">AMEX Inc.</small>
    <h3 class="uppercase text-black text-2xl font-medium">Model - M</h3>
    <h3 class="text-2xl font-semibold mb-7">$96,600</h3>
    <small class="text-black">The Model M is the best in class electric car having a 396 mi range. Reaching top speeds of 60 mph in 1.99s. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </small>
    <div class="flex gap-0.5 mt-4">
      <A href="/products/Model-M"> <button class="bg-black rounded-md w-full focus:outline-none transition text-white uppercase px-8 py-3">Explore </button></A>
        
      </button>
    </div>
  </div>
</section>

{% endblock content %}