{% extends 'base.html' %}
{% block title %}
    {{product.name}}
{% endblock title %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.41.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div x-data="{ cartOpen: false , isOpen: false }" class="">
    <header>
        <div class="container mx-auto px-6 py-3">
            <div class="flex items-center justify-between">
                <div class="hidden w-full text-black md:flex md:items-center">
                
                   
                </div>
               
                <div class="flex items-center justify-end w-full">
                    <button @click="cartOpen = !cartOpen" class="text-black focus:outline-none mx-4 sm:mx-0">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                        </svg>
                    </button>

                    <div class="flex sm:hidden">
                        <button @click="isOpen = !isOpen" type="button" class="text-gray-600 hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-label="toggle menu">
                            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
           
           
        </div>

    </header>
    <div :class="cartOpen ? 'translate-x-0 ease-out' : 'translate-x-full ease-in'" class="fixed right-0 top-0 max-w-xs w-full h-full px-6 py-4 transition duration-300 transform overflow-y-auto bg-white border-l-2 ">
        <div class="flex items-center justify-between">
            <h3 class="text-2xl font-medium text-black">Your cart</h3>
            <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg>
            </button>
        </div>
        <hr class="my-3">
        <div class="flex justify-between mt-6">
            <div class="flex">
                <div class="mx-3">
                    {% for cartprod in current_user.products %}
                    <h3 class="text-sm text-black">{{cartprod.name}} - {{cartprod.cart_sub.text}}</h3>
                    <p>{{prodmod}}</p>
                    <a href="{{url_for('remove', prod_id=cartprod.id, name_='None')}}">
                        <button class="mx-2 text-black border rounded-md p-2 hover:bg-gray-200 focus:outline-none">
                            Remove
                         </button>
                    </a>
                    
                    {% endfor %}
                    {% if current_user.products|length == 0 %}
                    <h3 class="text-sm text-black">Your cart is empty.</h3>
                    {% endif %}
                </div>
            </div>
            <span class="text-black"></span>
        </div>
        
       
        <div class="mt-8">
           
        </div>
        <a class="flex items-center justify-center mt-4 px-3 py-2 text-white text-sm uppercase font-medium rounded bg-black">
            <span>Checkout</span>
            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
        </a>
    </div>
    <main class="my-8">
        <div class="container mx-auto px-6">
            <div class="md:flex md:items-center">
                <div class="w-full h-64 md:w-1/2 lg:h-96">
                    <img class="h-full w-full rounded-md object-scale-down  mx-2" src="{{product.image}}" alt="CAR">
                </div>
                <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
                    <h3 class="text-black uppercase text-lg">{{product.name}}</h3><br>
                    <span class="text-black mt-3">{{product.desc}}</span><br><br>
                    <span class="text-black mt-3">&dollar;{{product.price}}</span>
                    <hr class="my-3">
                    <div class="mt-2">
                        {{form.colors}}
                        {{form.models}}
                    </div>
                    <div class="mt-3">
                        
                    </div>
                    <div class="flex items-center mt-6">
                        <form action="/products/{{product.name}}" method="post">
                        {{form.submit}}</form>
                        <a href="{{url_for('add', prod_id=product.id, name_='None')}}">
                        <button class="mx-2 text-black border rounded-md p-2 hover:bg-gray-200 focus:outline-none">
                            <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        </button></a>
                    </div>
                </div>
            </div>
           
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="">
        <div class="container mx-auto px-6 py-3 flex justify-between items-center">
            
        </div>
    </footer>
</div>

{% endblock content %}