{% extends "base.html" %}
{% block title %}
  Register
{% endblock title %}
{% block content %}
<br><br>        <div class="flex flex-1 flex-col items-center justify-center px-10 relative">
            <!-- Login box -->
            <form action="/reg" method="post">
            <div class="flex flex-1 flex-col  justify-center space-y-5 max-w-md">
              <div class="flex flex-col space-y-2 text-center">
                <h2 class="text-3xl md:text-4xl font-bold">Sign in to account</h2>
                <p class="text-md md:text-xl">Register to purchase your brand new EV.</p>
              </div>
              <div class="flex flex-col max-w-md space-y-5">
                <input type="text" placeholder="Email"
                  class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal" name="email"/>
                <input type="password" placeholder="Password"
                  class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal" name="password1" />
                <input type="password" placeholder="Confirm password"
                  class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal" name="password2"/>
                  <div class="text-red-500 ">{{mess}}</div>
                <button class="flex items-center justify-center flex-none px-3 py-2 hover:bg-gray-900 md:px-4 md:py-3 border-2 rounded-lg font-medium border-black bg-black text-white" type="submit">Register</button>
              </div>
            </div>
        </form>

{% endblock %}
